<% layout('layout/boilerplate') -%>

<section class="container">
  <h1 class="display-6">My Cart</h1>
  <div class="row">
    <div class="col-lg-8">
      <% for(let product of user.cart){%>
      <div class="card mx-auto mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-4">
            <img src="<%=product.item.img%>" class="img-fluid rounded-start" alt="..." />
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title"><%=product.item.name%></h5>
              <p class="card-text"><%=product.item.desc%></p>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex align-items-center">
                <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                  <i class="fas fa-minus"></i>
                </button>

                <input id="form1" min="0" name="quantity" value="1" type="number" class="form-control-sm" />

                <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                  <i class="fas fa-plus"></i>
                </button>

                <div class="col-md-1 col-lg-1 col-xl-1 ml-auto text-end">
                  <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                </div>
              </div>
              <!-- <p class="card-text"><%=product.item.price%></p> -->
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
        </div>
      </div>
      <%} %>
    </div>
    <div class="col-lg-4">
      <ul class="list-group">
        <% for(let product of user.cart) {%>
        <li class="list-group-item">
          <span class="fw-bold"><%=product.item.name%> - </span>&#8377; <%=product.item.price%> x <span><%=product.qty%></span>
        </li>
        <% } %>
        <li class="list-group-item fw-bold">Total Amount : &#8377; <%=totalAmount%></li>
      </ul>
    </div>
  </div>
</section>
